.modal-bg {
  height: 100vh;
  width: 100vw;
  background-color: rgb(188, 187, 187, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: auto;
  z-index: 1;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal-box {
  height: 480px;
  width: 60%;
  padding: 12px;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-create {
  border: 2px solid rgb(95, 219, 79);
}

.modal-edit {
  border: 2px solid rgb(79, 163, 219);
}
